<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Meniu Principal</title>
</head>
<body>
    <h1>Gestiune Student - MongoDB Atlas</h1>
    <p>Salut! Alege o optiune:</p>
    <ul>
        <li><a href="/insert">1. Inserare Date de Test</a></li>
        <li><a href="/list">2. Vezi Tabelul cu Date</a></li>
    </ul>
</body>
</html>